.navbar {
    padding: 1em;
    white-space: pre;
  }
.navbar .navbar-nav .nav-link {
    letter-spacing: 0.5px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

body {
    background-color: #121212;
    color: #bbbcbe
}

a {
    color: rgba(255, 255, 255, 0.5)
}

a:hover {
    color: rgba(255, 255, 255, 0.75)
}